<h1>Create Account</h1>
<input 
placeholder="User Name"
#userNameInput
>
<br>
<input placeholder="Password" type="password" #passwordInput><br>
<input placeholder="Repeat Password" type="password"><br>
<input placeholder="Email" #emailInput><br>
<button (click)="submit()">Create Account</button><br>
<a routerLink="" routerLinkActive="active">Already a Tubular junkie? Click here to login.</a>

<div class="error-message" [style.opacity]="valid ? '0' : '1'" [style.backgroundColor]="valid ? 'white' : 'red'"> {{ errorMessage }}</div>

<!-- <div *ngFor="let profile of profiles">
    <div> {{ profile.userName }}</div>
</div> -->